/* For Side-nav and the likes */

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgba(22, 34, 57, 0.99);
  color: #fff;
  padding: 15px;
  text-align: center;
}

@media screen and (max-width: 950px) {
  .header .logo {
    line-height: 50px;
  }
}

.header .logo {
  float: left;
  padding-left: 20px;
}

.header .logo h3 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
}
.header .logo h3 em {
  font-style: normal;
  color: #f5a425;
}

.sidebar {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 70px;
  left: 0;
  background-color: #f1f1f1;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 20%;
  width: 100px;
  height: 120px;
}
.sidebar a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #f5a425;
  color: white;
}

.main {
  margin-left: 200px;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.course {
  padding: 20px;
  width: 30%;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.course:nth-child(1) {
  background-color: #ff9aa2;
}

.course:nth-child(2) {
  background-color: #c57c77;
}

.course:nth-child(3) {
  background-color: #ffdac1;
}

.course:nth-child(4) {
  background-color: #e2f0cb;
}

.course:nth-child(5) {
  background-color: #b5ead7;
}

.course:nth-child(6) {
  background-color: #c7ceea;
}

.course:hover {
  background-color: #ddd;
}

.course h2 {
  color: rgb(85, 85, 85);
}

.course p {
  margin-top: 10px;
  color: rgb(19, 16, 16);
}

h1 {
  text-align: center;
  margin-top: 50px;
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 100%;
    padding: 10px;
    border-radius: 0;
  }
}
